/////main//////
$em: 16px; 
//defaults
//pixels
$pageWrap: 1600px;

//colors
$darkFuschia: #4A273F;
$darkPurple: #2C1D37;
$yellow: #faa209;
$blue: #3bb1b2;
$pink: #e6226c;
$fadedBlack: rgba(0,0,0,.6);
$color-list: $yellow, $blue, $pink;
$offWhite: rgba(240,240,240,1);

