body {
	background: hsl(30, 20%, 20%);
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	overflow: hidden;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	>.intro {
		text-align: center;
		>.brand {
			display: inline-block;
			font-size: 36px;
			opacity: 0;
			position: relative;
			top: -36px;
		}
		>.logo {
			display: inline-block;
			height: $logo-size;
			position: relative;
			width: $logo-size;
			>.box {
				height: $logo-size / 2;
				position: absolute;
				width: $logo-size / 2;
				&:after {
					content: '';
					display: block;
					height: 100%;
					width: 100%;
				}
				&:nth-of-type(1):after {
					background: $red;
				}
				&:nth-of-type(2):after {
					background: $blue;
				}
				&:nth-of-type(3):after {
					background: $yellow;
				}
				&:nth-of-type(4):after {
					background: $green;
				}
			}
		}
		&.animate {
			>.brand {
				animation: fadeIn 2s ease $brand-reveal-start forwards, moveRight .5s linear $brand-reveal-start forwards;
			}
			>.logo {
				animation: moveLeft .5s linear $brand-reveal-start forwards;
				>.box {
					&:nth-of-type(1) {
						animation: $one-step 1 forwards stepOne, $one-step $one-step 1 forwards stepTwo, $one-step (2 * $one-step) 1 forwards stepThree, $one-step (3 * $one-step) 1 forwards stepFour;
					}
					&:nth-of-type(2) {
						animation: $one-step $one-step 1 forwards stepOne, $one-step (2 * $one-step) 1 forwards stepTwo, $one-step (3 * $one-step) 1 forwards stepThree;
					}
					&:nth-of-type(3) {
						animation: $one-step (2 * $one-step) 1 forwards stepOne, $one-step (3 * $one-step) 1 forwards stepTwo;
					}
					&:nth-of-type(4) {
						animation: $one-step (3 * $one-step) 1 forwards stepOne;
					}
					&:after {
						animation: scaling $one-step cubic-bezier(.1, .95, .7, .8) 4;
					}
				}
			}
		}
	}
}

.player {
	display: none;
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

@keyframes stepOne {
	100% {
		transform: translate3d(50px, 0, 0) rotateZ(-180deg);
	}
}

@keyframes stepTwo {
	0% {
		transform: translate3d(50px, 0, 0) rotateZ(-180deg);
	}
	100% {
		transform: translate3d(50px, 50px, 0) rotateZ(-360deg);
	}
}

@keyframes stepThree {
	0% {
		transform: translate3d(50px, 50px, 0) rotateZ(-360deg);
	}
	100% {
		transform: translate3d(0, 50px, 0) rotateZ(-540deg);
	}
}

@keyframes stepFour {
	0% {
		transform: translate3d(0, 50px, 0) rotateZ(-540deg);
	}
	100% {
		transform: translate3d(0, 0, 0) rotateZ(-720deg);
	}
}

@keyframes moveLeft {
	100% {
		transform: translateX(-($logo-size / 4));
	}
}

@keyframes moveRight {
	100% {
		transform: translateX($logo-size / 4);
	}
}

@keyframes scaling {
	50% {
		transform: scale3d(0.5, 0.5, 0.5);
	}
}