/* Microsoft brand colours */
$blue:   #00a1f1;
$green:  #7cbb00;
$red:    #f65314;
$yellow: #ffbb00;

/* Logo */
$logo-size: 100px;

/* Animations */
$one-step: 1.5s;
$brand-reveal-start: $one-step * 3;